* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$font-family: "Roboto", sans-serif;

$main-text: #fff;
$secondary-text: rgb(188, 186, 186);

$background-secondary: rgb(54, 54, 54);

body {
  background-color: #000;
}