@import "~materialize-css/dist/css/materialize.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Set the default font family here so you don't have to override it later
$normalized_font_family: "Roboto", sans-serif !default;

$normalize_headings: true !default;

$h1_font_size: 4.2rem !default;
$paragraph_size: 1.65rem !default;

$h1_margin: 2,8rem 0 1,68rem 0 !default;

$h1_lineheight: 110% !default;

$main_color: #26a69a;
$background: #fff !default;
$color_text_main: #000 !default;
$color_text_additional: #fff !default;
$color_text_paragraph: rgba(0, 0, 0, 0.87);
$color_hover_link: #26978c;


$transition: 0.3s ease-out;

$border_radius: 2px;

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
