@import '../../index.scss';

.wrapper {
	background-color: $main_color;
	height: 64px;
	line-height: 64px;
}

.list {
	color: $color_text_additional;
}

.item {
	&:hover {
		background-color: $color_hover_link;
	}
}