@import "src/index.scss";

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 34px;
  outline: none;
  &__input {
    position: absolute;
    top: -99999px;
    left: -99999px;
  }
  &__input:checked + &__switch {
    background-color: $color_hover_link;
  }
  &__input:focus + &__switch {
    box-shadow: 0 0 1px $color_hover_link;
  }
  &__input:checked + &__switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  &__switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color_switch;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $background_color;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
