@import "src/index.scss";

.btn {
  display: inline-block;
  vertical-align: middle;
  height: 54px;
	width: 150px;
  line-height: 54px;
  padding: 0 29px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  color: $black;
  background-color: $gold;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-family: $font-family;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.3s ease-out;

  &:hover {
    background-color: $color-hover;
  }
}
