@import "src/index.scss";

.btn {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  transition: $transition;
  cursor: pointer;
  height: $height_button;
	width: $width_button;
  line-height: $line-height;
  font-size: $font_size_button;
  padding: $padding_button;
  text-decoration: none;
  color: $color_text_main;
  background-color: $btn_color;
  text-align: center;
  letter-spacing: $letter-spacing;
  border: none;
  border-radius: $border_radius;
  text-transform: uppercase;
  box-shadow: $box-shadow;
  font-family: $normalized_font_family;

  &:hover {
    background-color: $color_hover_link;
  }
}
