.container {
  width: 60vw;
  height: 90vh;
  margin: 10vh 20vw;
  & label {
    display: flex;
    align-content: center;
    margin: 20px 0;
    cursor: pointer;
  }
  & label input {
    margin-right: 15px;
  }
}
