@import "src/index.scss";

.wrapper {
  width: $width_menu;
  background-color: $main_color;
  height: $height_list;
  line-height: $line-height_list;
}

.list {
  color: $color_text_additional;
  text-align: center;
}

.item {
  width: $width_menu;
  &:hover {
    background-color: $color_hover_link;
  }
}
